@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <form>




        الاسم:<br />
        <input type="text" size="60"></input>
        <br /><br />

        رقم الملف:
        <input type="text" size="12"></input>
        العمر:
        <input type="text" size="2"></input>
        الجنسية:
        <input type="text" size="5"></input>
        <br /><br />
        التاريخ :
        <input type="text" size="10"></input>
        <br /><br />
        العيادة:
        <input type="text" size="10"></input>
        <br /><br />
        <input type="reset" value="Reset"></input>

        <br /><br />

    </form>
</main>